<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
  <link rel="Stylesheet" href="../../../assets/css/style3.css" />

</head>
<body>

<div class="container">
  <div class="forms-container">
    <div class="signin-signup">
      <form 
        *ngIf="!isLoggedIn"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
        class="sign-in-form"
        >
        <h2 class="title">Se connecter</h2>

        <div style="margin-bottom: 4rem;"></div>

        <!-- <div class="form-group">
          <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
            Login failed: {{ errorMessage }}
          </div>
        </div> -->

        <div class="input-field">
          <i class="fas fa-user"></i>
          <input 
            name="username"
            [(ngModel)]="form.username"
            required
            #username="ngModel"
            type="text" 
            placeholder="Username" 
          />
        </div>
        <div class="text-danger" role="alert" *ngIf="username.errors && f.submitted" >
          Username requis!
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input 
            type="password"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="8"
            #password="ngModel"
            placeholder="Password" 
          />
        </div>
        <div class="text-danger" role="alert" *ngIf="password.errors && f.submitted" >
          <div *ngIf="password.errors['required']">Mot de passe requis!</div>
          <div *ngIf="password.errors['minlength']">
            Password doit avoir au moins 8 charactères
          </div>
        </div>
        <a href class="oublie">Mot de passe oublié ?</a>
        <input type="submit" value="Se connecter" class="btn solid" />

        <!--CONNEXION MEDIA SOCIAUX-->
        <p class="social-text">Connectez-vous avec un de vos compte</p>
        <div class="social-media">
          <a href="#" class="social-icon">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-google"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
        <!--CONNEXION MEDIA SOCIAUX-->

      </form>

    </div>
  </div>


  <div class="panels-container">
    <div class="panel left-panel">
      <div class="content">
        <h2 style="color: white;">Vous n'avez de compte ?</h2>
        <p style="font-size: 18px;">
          Veuillez cliquer sur le boutton ci-dessous pour créer un compte
        </p>
        <button class="btn transparent" id="sign-up-btn" routerLink="/signup">
          Créer un compte
        </button>
      </div>
      <img src="../../../assets/img/log.svg" class="image" alt="" />
    </div>
  </div>

</div>


<!-- <script src="../../../assets/js/app.js"></script> -->


</body>
</html>


  
  
  <!-- 
  <div class="log">
  
  
    <section class="form-container" data-aos="zoom-in" >
      <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
        <div class="row mt-5">
            <div class="col-md-4 mx-auto">
          <h1 class="heading"> <span>Login</span> </h1>
        <form  (ngSubmit)="onSubmit()" novalidate #f="ngForm" action="">
            
            <div class="inputBox">
                <span for="username">Username</span>
                <input type="text" placeholder="username" id="username" name="username" required>
            </div>
            <div class="inputBox">
                <span for="password">Password</span>
                <input type="password" placeholder="Password" class="form-control"  id="password" name="password" required>
            </div>
        <div class="register">
          <h2>Vous n'avez pas de compte? Creer en un ici <a href="/register">creer</a> </h2>
        </div>
    
        </form>
      
        <input type="submit" value="Login" class="btn" [disabled]="!f.valid">
    
        </div>
    </div>
    </section>  -->
    <!-- 
    <div class="right-box" data-aos="zoom-in">
      <span class="signinwith"><h1 class="titre">Sign in With <br> Social Networks</h1></span>
    
      <button class="social facebook">Log in with Facebook</button>
      <button class="social twitter">Log in with twitter</button>
      <button type="submit" class="social google g-signin2" data-onsuccess="onSignIn()">Log in with gmail</button>
    </div> -->
  
    
    <!-- </div> -->
    