    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white-50 py-5 px-sm-3 px-lg-5" style="margin-top: 90px;">
        <div class="row pt-5">
            <div class="col-lg-3 col-md-6 mb-5">
                <a href="" class="navbar-brand">
                    <h2 class="fs-4"><span class="bg-white text-dark rounded shadow px-1 me-1">Mali</span> <span  style="color: #55415D;">Tourisme</span> </h2>
                </a>
                <p>Votre site de tourisme qui vous fait visiter tout le Mali depuis votre canapé</p>
                <h6 class="text-white text-uppercase mt-4 mb-3" style="letter-spacing: 5px;">Suivez nos réseaux</h6>
                <div class="d-flex justify-content-start">
                    <a class="btn btn-outline-primary btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-primary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-primary btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Pages</h5>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-white-50 mb-2" href="/accueil"><i class="fa fa-angle-right mr-2"></i>Accueil</a>
                    <a class="text-white-50 mb-2" href="/regions"><i class="fa fa-angle-right mr-2"></i>Regions</a>
                    <a class="text-white-50 mb-2" href="/pays"><i class="fa fa-angle-right mr-2"></i>Pays</a>
                    <a class="text-white-50 mb-2" href="/sites"><i class="fa fa-angle-right mr-2"></i>Sites</a>
                    <a class="text-white-50 mb-2" href="/gallery"><i class="fa fa-angle-right mr-2"></i>Gallery</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Usefull Links</h5>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>About</a>
                    <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Destination</a>
                    <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Services</a>
                    <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Packages</a>
                    <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Guides</a>
                    <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Testimonial</a>
                    <a class="text-white-50" href="#"><i class="fa fa-angle-right mr-2"></i>Blog</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Nos coordonnées</h5>
                <p><i class="fa fa-map-marker-alt mr-2"></i>Mali bamako</p>
                <p><i class="fa fa-phone-alt mr-2"></i>Missabougou</p>
                <p><i class="fa fa-envelope mr-2"></i>Kabakoo@example.com</p>
                <h6 class="text-white text-uppercase mt-4 mb-3" style="letter-spacing: 5px;">Newsletter</h6>
                <div class="w-100">
                    <div class="input-group">
                        <input type="text" class="form-control border-light" style="padding: 25px;" placeholder="Votre email">
                        <div class="input-group-append">
                            <button class="btn btn-primary px-3">Envoi</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5" style="border-color: rgba(256, 256, 256, .1) !important;">
        <div class="row">
            <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
                <p class="m-0 text-white-50">Copyright &copy; <a href="#">marytraore</a>. Tout droit réserver.
                </p>
            </div>
            <div class="col-lg-6 text-center text-md-right">
                <p class="m-0 text-white-50">Créer par<a href="https://htmlcodex.com"> Mary TRAORE</a>
                </p>
            </div>
        </div>
    </div>
    <!-- Footer End -->