<app-header></app-header>


<div class="text-center mb-3 pb-3" id="text">
    <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Profil</h6>
    <h1>Vos informations</h1>
</div>

<div style="width: 80%; margin: auto;display: flex;">
    



    <div>

    </div>

</div>

<div class="container text-center">
    <div class="row">
      <div class="col">
        <img
        id="profile-img"
        src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
        class="profile-img-card"
        />
      </div>
      <div class="col">
        <div>
            <p>Username:</p>
            <p>Email: </p>
        </div>
      </div>
      <div class="col">
        <div>
            <p> {{ username }} </p>
            <p> {{ email }} </p>
        </div>
      </div>
    </div>
  </div>



<app-footer></app-footer>