<!DOCTYPE html>
<html lang="en">
<head>

      <!-- DASHBOARD IMPORT-->
  <link rel="Stylesheet" href="../../../../assets/vendor/chartist/css/chartist.min.css">
  <link rel="Stylesheet" href="../../../../assets/vendor/chartist/css/chartist.min.css">
  <link rel="Stylesheet" href="../../../../assets/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" >
  <link rel="Stylesheet" href="../../../../assets/css/style2.css" >
  <!-- DASHBOARD IMPORT-->


</head>
<body>
    

    <div id="main-wrapper">

              <!--**********************************
          Nav header start
      ***********************************-->
      <div class="nav-header">
        <a href="#" class="brand-logo">
            <!-- <i class="logo-abbr fa-brands fa-stumbleupon"></i> -->
      
              <!-- <h2  class="brand-title">Mali Tourisme </h2> -->
            
    <h2 class="brand-title">Admin panel</h2>
        </a>

        <div class="nav-control">
            <div class="hamburger">
                <span class="line"></span><span class="line"></span><span class="line"></span>
            </div>
        </div>
    </div>
    <!--**********************************
        Nav header end
    ***********************************-->


      
  <!--**********************************
          Header start
      ***********************************-->
      <app-header-dashboard></app-header-dashboard>
    <!--**********************************
        Header end ti-comment-alt
    ***********************************-->


    
      <!--**********************************
          Sidebar start
      ***********************************-->
      <div class="deznav">
        <div class="deznav-scroll">
            <a class="add-project-sidebar btn btn-primary" routerLink="/accueil" >Accueil</a>
            <ul class="metismenu" id="menu">
                <li>
                    <a routerLink="/dashboard/home">
                        <i class="flaticon-layout"></i>
                        <span class="nav-text">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/dashboard/region" class="linkcolormenu">
                        <i class="fas fa-place-of-worship"></i>
                        <span class="nav-text">Region</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/dashboard/pays">
                        <i class="fas fa-flag-checkered"></i>
                        <span class="nav-text">Pays</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-map-marked-alt"></i>
                        <span class="nav-text">Sites</span>
                    </a>
                </li>
                <li>
                    <a  href="#">
                        <i class="fas fa-photo-video"></i>
                        <span class="nav-text">Gallery</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="flaticon-admin"></i>
                        <span class="nav-text">Paramètres</span>
                    </a>
                </li>
                <li>
                    <a  href="#">
                        <i class="flaticon-contract"></i>
                        <span class="nav-text">Forms</span>
                    </a>
                </li>
                <li>
                    <a  href="#">
                        <i class="flaticon-table"></i>
                        <span class="nav-text">Table</span>
                    </a>
                </li>
                <li>
                    <a  href="#">
                        <i class="flaticon-newsletter"></i>
                        <span class="nav-text">Pages</span>
                    </a>
                </li>
            </ul>
        </div>
      </div>
      <!--**********************************
          Sidebar end
      ***********************************-->


    <div class="content-body">
            <!-- Add Project -->
            <div class="modal fade" id="addProjectSidebar">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Créer une nouvelle region</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label class="text-black font-w500" for="codeRegion">Code</label>
                            <input type="text" class="form-control" placeholder="Code" id="codeRegion" name="codeRegion"
                            [(ngModel)]="codeRegion" required>
                        </div>
                        <div class="form-group">
                            <label class="text-black font-w500" for="nomRegion">Nom</label>
                            <input type="text" class="form-control" id="nomRegion" name="nomRegion" placeholder="Nom"
                            [(ngModel)]="nomRegion" required>
                        </div>
                        <!-- <div class="form-group">
                            <label class="text-black font-w500">Dadeline</label>
                            <div class="cal-icon"><input type="date" class="form-control"><i class="far fa-calendar-alt"></i></div>
                        </div> -->
                        <div class="form-group">
                            <label class="text-black font-w500" for="domaineActiviteRegion">Domaine d'activité</label>
                            <input type="text" class="form-control" id="domaineActiviteRegion" name="domaineActiviteRegion" placeholder="Domaine"
                            [(ngModel)]="domaineActiviteRegion" required>
                        </div>
                        <div class="form-group">
                            <label class="text-black font-w500" for="superficie">Superficie</label>
                            <input type="text" class="form-control" id="superficie" name="superficie" placeholder="Superficie"
                            [(ngModel)]="superficie" required>
                        </div>
                        <div class="form-group">
                            <label class="text-black font-w500" for="langueMajoritaire">Langue majoritaire</label>
                            <input type="text" class="form-control" id="langueMajoritaire" name="langueMajoritaire" placeholder="Langue"
                            [(ngModel)]="langueMajoritaire" required>
                        </div>
                        <div class="form-group">
                            <label class="text-black font-w500">Pays</label>
                            <select class="form-select" name="idPays" id="idPays" [(ngModel)]="idPays" aria-label="Sélectionner le pays">
                                <option selected disabled>--sélectionner un pays--</option>
                                <option *ngFor="let pays of listepays" value="{{pays.idPays}}">{{pays.nomPays}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="text-black font-w500" for="image">Image</label>
                            <input type="file" class="form-control"  aria-label="file example" id="image" name="image" (change)="recuperationImage($event)" required>
                        </div>
                        <div class="form-group">
                            <label class="text-black font-w500" for="descriptionRegion">Description</label>
                            <textarea class="form-control" rows="8" id="descriptionRegion" name="descriptionRegion" 
                            [(ngModel)]="descriptionRegion" required></textarea>
                          </div>
                    </form>
                        <div class="form-group">
                            <button type="button" (click)="onCreate()" class="btn btn-primary">Créer</button>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6 col-xxl-12">
                  <div class="row">
                        <div class="col-xl-12">
                                <div class="card message-bx">
                                    <div class="card-header border-0 d-sm-flex d-block pb-0">
                                        <div>
                                            <h4 class="fs-20 mb-0  text-black mb-sm-0 mb-2">Liste des regions</h4>
                                        </div>
                                        <a href="javascript:void(0)" class="btn btn-primary shadow-primary btn-rounded text-white" data-bs-toggle="modal" data-bs-target="#addProjectSidebar">+ Ajouter</a>
                                    </div>
                                    <div class="card-body">
                                          <table class="table">
                                            <thead class="thead-light">
                                              <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">IMAGE</th>
                                                <th scope="col">CODE</th>
                                                <th scope="col">NOM</th>
                                                <th scope="col">DOMAINE</th>
                                                <th scope="col">SUPERFICIE</th>
                                                <th scope="col">LANGUE</th>
                                                <th scope="col">PAYS</th>
                                                <th>ACTIONS</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr *ngFor="let region of listregions let id = index">
                                                <th scope="row"> {{ id+1 }} </th>
                                                <td>   
                                                  <img *ngIf="region.imageRegion" src="{{ region.imageRegion }}"  alt="image region" class="image"/>
                                                  <img *ngIf="region.imageRegion==null" src="../../../../assets/img/angular.png" alt="image region" class="image"/>                        
                                                </td>
                                                <td> {{ region.codeRegion }} </td>
                                                <td> {{ region.nomRegion}} </td>
                                                <td> {{ region.domaineActiviteRegion }} </td>
                                                <td> {{ region.superficie }} </td>
                                                <td> {{ region.langueMajoritaire }} </td>
                                                <td> {{ region.langueMajoritaire }} </td>
                                                <td>            
                                                    <a href="#" id="btn-1" class="btn btn-outline-primary"><i class="far fa-eye"></i></a>
                                                    <a href="#" id="btn-2" class="btn btn-outline-warning"><i class="far fa-edit"></i></a>
                                                    <a href="#" id="btn-3" class="btn btn-outline-danger"><i class="far fa-trash-alt"></i></a>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>

                                          <div class="container-fluid py-5"  *ngIf="listregions.length==0">
                                            <div class="container py-5">
                                                <div class="text-center mb-3 pb-3">
                                                    <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Aucune region dans la base de donnee</h6>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
    </div>






    </div>

</body>
</html>