<app-header></app-header>



    <!-- Carousel Start -->
    <div class="container-fluid p-0">
        <div id="header-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="../../../../assets/img/bloc-1.jpeg" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            <h4 class="text-white text-uppercase mb-md-3">Bienvenue à vous</h4>
                            <h1 class="display-3 text-white mb-md-4" style="margin-bottom: 1rem;">Profiter de nos vues exhaustif</h1>
                            <a href="" class="btn-home">Explorer</a>
                            <!-- <a href="" class="btn btn-primary py-md-3 px-md-5 mt-2">Explorer</a> -->
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="../../../../assets/img/bloc-2.jpeg" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            <h4 class="text-white text-uppercase mb-md-3">Mali</h4>
                            <h1 class="display-3 text-white mb-md-4">Mali terre d'accueil et de culture</h1>
                            <a href="" class="btn-home">Explorer</a>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                <div class="btn btn-dark" style="width: 45px; height: 45px;">
                    <span class="carousel-control-prev-icon mb-n2"></span>
                </div>
            </a>
            <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                <div class="btn btn-dark" style="width: 45px; height: 45px;">
                    <span class="carousel-control-next-icon mb-n2"></span>
                </div>
            </a>
        </div>
    </div>
<!-- Carousel End -->

  <!-- About Start -->
  <div class="container-fluid py-5">
      <div class="container pt-5">
          <div class="row">
              <div class="col-lg-6" style="min-height: 500px;">
                  <div class="position-relative h-100">
                      <img class="position-absolute w-100 h-100" src="./../../assets/img/bloc-4.jpeg" style="object-fit: cover;" alt="photo mali">
                  </div>
              </div>
              <div class="col-lg-6 pt-5 pb-lg-5">
                  <div class="about-text bg-white p-4 p-lg-5 my-lg-5">
                      <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">A propos</h6>
                      <h1 class="mb-3">Une destination authentique et fascinante</h1>
                      <p>Berceau des grands empires et royaumes d’Afrique de l’Ouest, le Mali riche de son passé glorieux constitue une des destinations touristiques les plus prisées de l’espace CEDEAO grâce notamment à la richesse et à la diversité de ses ressources touristiques.
                        Cette richesse et cette diversité en ressources touristiques s’explique avant tout par la présence d’un patrimoine historique et culturel unique qui ont prévalu à leur inscription sur le label UNESCO.</p>
                      <div class="row mb-4">
                          <div class="col-6">
                              <img class="img-fluid" src="./../../assets/img/bloc-3.jpeg" alt="photo mali">
                          </div>
                          <div class="col-6">
                              <img class="img-fluid" src="./../../assets/img/bloc-5.jpeg" alt="photo mali">
                          </div>
                      </div>
                      <!-- <a href="" class="btn-home">Explorer</a> -->
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- About End -->

  
<!-- Feature Start -->
    <div class="container-fluid pb-5">
        <div class="container pb-5">
            <div class="row">
                <div class="col-md-4">
                    <div class="d-flex mb-4 mb-lg-0">
                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center mr-3" style="height: 100px; width: 100px; background-color: #55415D;">
                            <!-- <i class="fa fa-2x fa-money-check-alt text-white"></i> -->
                            <i class="fas fa-2x fa-hotel text-white" style="font-size: 2rem;"></i>
                        </div>
                        <div class="d-flex flex-column">
                            <h5 class="">Comment vénir ?</h5>
                            <p class="m-0">Mali terre d'accueil et d'hospitaliter</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="d-flex mb-4 mb-lg-0">
                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center mr-3" style="height: 100px; width: 100px;background-color: #55415D;">
                            <i class="fas fa-2x  fa-plane text-white" style="font-size: 2rem;"></i>
                        </div>
                        <div class="d-flex flex-column">
                            <h5 class="">Où dormir</h5>
                            <p class="m-0">Trouver un hebergement</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="d-flex mb-4 mb-lg-0">
                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center mr-3" style="height: 100px; width: 100px;background-color: #55415D;">
                            <i class="fas fa-2x fa-utensils text-white" style="font-size: 2rem;"></i>
                        </div>
                        <div class="d-flex flex-column">
                            <h5 class="">Où manger</h5>
                            <p class="m-0">Trouver une restauration</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Feature End -->

<!-- Service Start -->
    <div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Nos ervices</h6>
            <h1>Les services MaliTourisme</h1>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="service-item bg-white text-center mb-2 py-5 px-4" id="card">
                    <i class="fa fa-2x fa-route mx-auto mb-4" id="icon1"></i>
                    <h5 class="mb-2">Comment se deplacer</h5>
                    <p class="m-0">Mali terre d'accueil et d'hospitaliter, deplacez-vous dans toute nos sites et toute quietude et profiter d'une belle expérience</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="service-item bg-white text-center mb-2 py-5 px-4">
                    <i class="fa fa-2x fa-car mx-auto mb-4" id="icon2"></i>
                    <h5 class="mb-2">Location de voitures</h5>
                    <p class="m-0">Facilitez la location de voitures pour les voyageurs qui ont besoin de se déplacer une fois arrivés à leur destination</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="service-item bg-white text-center mb-2 py-5 px-4">
                    <i class="fa fa-2x fa-user mx-auto mb-4" id="icon3"></i>
                    <h5 class="mb-2">Visites guidées et activités</h5>
                    <p class="m-0">Offrez la possibilité de pouvoir réserver des visites guidées, des excursions, des activités culturelles et de plein air.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="service-item bg-white text-center mb-2 py-5 px-4">
                    <i class="fa fa-2x fa-hotel mx-auto mb-4" id="icon4"></i>
                    <h5 class="mb-2">Réserver des hôtels</h5>
                    <p class="m-0">Vous pouvez fiare des rechercher et de réserver des vols, camping cars vers etc leur destination</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="service-item bg-white text-center mb-2 py-5 px-4">
                    <i class="fa fa-2x fa-bus mx-auto mb-4" id="icon5"></i>
                    <h5 class="mb-2">Camping car</h5>
                    <p class="m-0">Trouver sur place des camping car de dernière génération pour vos déplacements</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="service-item bg-white text-center mb-2 py-5 px-4">
                    <i class="fa fa-2x fa-hotel mx-auto mb-4" id="icon6"></i>
                    <h5 class="mb-2">Actualités locales</h5>
                    <p class="m-0">Être informé au quotidien des dernières actualités locales, des événements et des festivals.</p>
                </div>
            </div>
        </div>
    </div>
    </div>
<!-- Service End -->

<!-- Testimonial Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Testimonial</h6>
            <h1>What Say Our Clients</h1>
        </div>
        <div class="owl-carousel testimonial-carousel">
            <div class="text-center pb-4">
                <img class="img-fluid mx-auto" src="../../../../assets/img/testimonial-1.jpg" style="width: 100px; height: 100px;" >
                <div class="testimonial-text bg-white p-4 mt-n5">
                    <p class="mt-5">Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam
                    </p>
                    <h5 class="text-truncate">Client Name</h5>
                    <span>Profession</span>
                </div>
            </div>
            <div class="text-center">
                <img class="img-fluid mx-auto" src="../../../../assets/img/testimonial-2.jpg" style="width: 100px; height: 100px;" >
                <div class="testimonial-text bg-white p-4 mt-n5">
                    <p class="mt-5">Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam
                    </p>
                    <h5 class="text-truncate">Client Name</h5>
                    <span>Profession</span>
                </div>
            </div>
            <div class="text-center">
                <img class="img-fluid mx-auto" src="../../../../assets/img/testimonial-3.jpg" style="width: 100px; height: 100px;" >
                <div class="testimonial-text bg-white p-4 mt-n5">
                    <p class="mt-5">Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam
                    </p>
                    <h5 class="text-truncate">Client Name</h5>
                    <span>Profession</span>
                </div>
            </div>
            <div class="text-center">
                <img class="img-fluid mx-auto" src="../../../../assets/img/testimonial-4.jpg" style="width: 100px; height: 100px;" >
                <div class="testimonial-text bg-white p-4 mt-n5">
                    <p class="mt-5">Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam
                    </p>
                    <h5 class="text-truncate">Client Name</h5>
                    <span>Profession</span>
                </div>
            </div>
            <div class="text-center">
                <img class="img-fluid mx-auto" src="../../../../assets/img/testimonial-4.jpg" style="width: 100px; height: 100px;" >
                <div class="testimonial-text bg-white p-4 mt-n5">
                    <p class="mt-5">Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam
                    </p>
                    <h5 class="text-truncate">Client Name</h5>
                    <span>Profession</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->


<app-footer></app-footer>

    <!-- Back to Top -->
    <a href="/" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>
